<div class="container">
  <div class="product-title">
    ALL Categories
  </div>


  <div class="image-grid">


    <div class="image-box">
      <div class="image">
        <img src="../../assets/cate01.png" alt="">
      </div>
      <div class="image-title">
        Games
      </div>
    </div>


    <div class="image-box">
      <div class="image">
        <img src="../../assets/cate01.png" alt="">
      </div>
      <div class="image-title">
        Games
      </div>
    </div>


    <div class="image-box">
      <div class="image">
        <img src="../../assets/cate01.png" alt="">
      </div>
      <div class="image-title">
        Games
      </div>
    </div>


    <div class="image-box">
      <div class="image">
        <img src="../../assets/cate01.png" alt="">
      </div>
      <div class="image-title">
        Games
      </div>
    </div>


    <div class="image-box">
      <div class="image">
        <img src="../../assets/cate01.png" alt="">
      </div>
      <div class="image-title">
        Games
      </div>
    </div>


    <div class="image-box">
      <div class="image">
        <img src="../../assets/cate01.png" alt="">
      </div>
      <div class="image-title">
        Games
      </div>
    </div>













  </div>
</div>
